<div>
  <div *ngIf="!tourney">
    This tourney is no longer available.
  </div>
  <div *ngIf="tourney">
    <a routerLink="/edittourney/{{tourney._id}}">Edit</a>
    <button (click)="onDelete()">Delete</button>
    <button (click)="onJoin()">Join</button>
    <button (click)="onLeave()">Leave</button>
    <h2>{{tourney.name}}</h2>
    <p>{{tourney.description}}</p>
    <div>
      <h3>Registration</h3>
      <span>From: {{ tourney.registration.start | date:dateFormat }}</span>
      <span *ngIf="tourney.registration.end">To: {{ tourney.registration.end | date:dateFormat }}</span>
    </div>
    <div>
      <h3>Duration</h3>
      <span>From: {{ tourney.duration.start | date:dateFormat }}</span>
      <span *ngIf="tourney.duration.end">To: {{ tourney.duration.end | date:dateFormat }}</span>
    </div>
    <div>
      <h3>Players</h3>
      <span>Mininum: {{tourney.participants.min}}</span>
      <span>Maximum: {{tourney.participants.max}}</span>
      <span>Current: {{tourney.players.length || 0}}</span>
    </div>
    <div>
      <h3>Tournament Type</h3>
      <span>{{tourney.schedule}}</span>
    </div>
    <div>
      <h3>Tournament Playoffs</h3>
      <span>{{tourney.playoffs}}</span>
    </div>
    <h3>Rules</h3>
    <div [innerHTML]="tourney.rules"></div>
  </div>
</div>
