<div>
  <a routerLink="/">
    <img
      src="./resources/logo.svg"
      style="display:inline; vertical-align: middle;"/></a>
  <h1
    style="display:inline; vertical-align: middle; text-align: center; margin: auto">
    Tourney
  </h1>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div *ngIf="!user || !user.authToken">
        <span>Welcome, friend!</span>
        <button
          class="btn btn-primary btn-margin"
          (click)="login()">
          Log In
        </button>
      </div>
      <div *ngIf="user && user.authToken">
        <span>Welcome, {{ user.name }}!</span>
        <button
          class="btn btn-primary btn-margin"
          (click)="logout()">
          Log Out
        </button>
      </div>
    </div>
  </div>
</nav>
</div>
<div *ngIf="user && user.authToken">
  <div>
    <button (click)="goToRoute(routes.view_all_tourneys)">View All Tournaments</button>
    <button (click)="goToRoute(routes.view_my_tourneys)">View My Tournaments</button>
    <button (click)="goToRoute(routes.create_new_tourney)">Create New Tournament</button>
  </div>
</div>
<router-outlet></router-outlet>
