<div>
  <img
    src="./resources/logo.png"
    style="display:inline; vertical-align: middle;">
  <h1
    style="display:inline; vertical-align: middle; text-align: center; margin: auto">
    Tourney
  </h1>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Auth0 - Angular 2</a>
      <button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
      <button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
    </div>
  </div>
</nav>
</div>
<div>
  <a routerLink="/viewtourneys">View Tournaments</a>
  <a routerLink="/createtourney">Create New Tournament</a>
</div>
<router-outlet></router-outlet>
